<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Classe que seram mapeadas/pesquisadas para serem bens -->
	<context:component-scan base-package="br.com.caelum.tarefas" />
	
	<!-- Indica que será utilizado anotation para configurar os bens -->
	<mvc:annotation-driven />
	
	<!-- Ignorar todo acesso a conteúdo estático(css/js/imagens) -->
	<mvc:default-servlet-handler/>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/mensagens/mensagens" />
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
	<!-- Configura o interceptador para o tratamento de autorização das páginas  -->
	<mvc:interceptors>
		<bean class="br.com.caelum.tarefas.interceptor.AutorizadorInterceptor" />
	</mvc:interceptors>	

	<!-- Configura o bean da conexão com o Postgres  -->
	<bean id="postgresDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost/fj21"/>
		<property name="username" value="postgres"/>
		<property name="password" value="admin"/>
	</bean>

</beans>